<ion-modal-view>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-divider">
        Add drink:
      </ion-item>
    </ion-list>
    <div style="height: 100%">
      <div class="row" style="height: 50%">
        <div class="col-40">
          <button class="button button-block button-large"><i class="icon ion-wineglass" style="size:3em"></i></button>
        </div>
        <div class="col-50">
          <button class="button button-block button-large"><i class="icon ion-beer" style="size:3em"></i></button>
        </div>
      </div>
      <div class="row" style="height: 50%">
        <div class="col-50">
          <button class="button button-block button-large"><i class="icon ion-flash" style="size:3em"></i></button>
        </div>
        <div class="col-50">
          <button class="button button-block button-large"><i class="icon ion-android-bar" style="size:3em"></i>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
