<ion-modal-view>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-divider">
        Add drink:
      </ion-item>
    </ion-list>
    <div style="height: 100%">
      <div class="row" style="height: 30%">
        <div class="col" ><button class="button button-block button-assertive button-large"><i class="icon ion-wineglass" ng-click="openWine()"></i> <br> Wine </button></div>
        <div class="col" ><button class="button button-block button-energized button-large"><i class="icon ion-beer" ></i> <br> Beer </button></div>
      </div>
      <div class="row" style="height: 30%">
        <div class="col" ><button class="button button-block button-large button-stable"><i class="icon ion-flash" ></i> Shot/Vodka </button></div>
        <div class="col" ><button class="button button-block button-calm button-large"><i class="icon ion-android-bar"></i> Long&nbsp;Drink </button></div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
