<ion-view view-title="Home" hide-nav-bar="true">
  <ion-content>
    <div class="col">
      <h2 class="title">PartyLog</h2>
      <img src="img/icon.png">
      <div class="row"><button class="button button-block button-primary" ng-click="letsGetThisPartyStarted()">Let's get this party started!</button></div>
      <div class="row"><button class="button button-block button-primary" ui-sref="hangover">Why am I so hangover?</button></div>
      <div class="row"><button class="button button-block button-primary" ui-sref="partylog">Party Log</button></div>
      <div class="row">
        <div class="col"><button class="button button-block button-primary" ui-sref="settings"><i class="icon ion-gear-a"></i></button></div>
        <div class="col"><button class="button button-block button-primary" ui-sref="about"><i class="icon ion-help-circled"></i></button></div>
      </div>
    </div>
  </ion-content>
</ion-view>
