<ion-view view-title="Home" hide-nav-bar="true">
  <ion-content class="padding">
    <div class="col col-center">
      <div class="title" align="center" style="display: block; text-align: center;"><h1><span style="color:#ef473a">P</span><span style="color:#ffc900">a</span><span style="color:#387ef5">r</span><span style="color:#33cd5f">t</span><span style="color:#886aea">y</span><span style="color:#ef473a">L</span><span style="color:#ffc900">o</span><span style="color:#387ef5">g</span></h1>

      </div>
      <div class="row"><img style="margin:0px auto;display:block; width: 50%; height: 50%" src="img/icon.png"></div>
      <div class="row"><button class="button button-block button-assertive item-icon-left item-icon-right" ng-click="letsGetThisPartyStarted()"> <i class="icon ion-beer"></i>Let's get this party started!  <i class="icon ion-wineglass"></i></button></div>
      <div class="row"><button class="button button-block button-energized item-icon-left item-icon-right" ui-sref="hangover"> <i class="icon ion-sad-outline"></i> Why am I so hangover? <i class="icon ion-medkit"></i> </button></div>
      <div class="row"><button class="button button-block button-positive item-icon-left item-icon-right" ui-sref="partylog">  <i class="icon ion-clipboard"></i> Party Log  <i class="icon ion-calendar"></i> </button></div>
      <div class="row">
        <div class="col"><button class="button button-block button-balanced" ui-sref="settings"><i class="icon ion-gear-a"></i></button></div>
        <div class="col"><button class="button button-block button-royal" ui-sref="about"><i class="icon ion-help-circled"></i></button></div>
      </div>
    </div>
  </ion-content>
</ion-view>
artyLog
