<ion-view view-title="Party is over">
  <ion-content class="padding">
    <div class="row"><button class="button button-block button-large button-balanced item-icon-left" ui-sref="partylog">  <i class="icon ion-android-navigate"></i> Take me home  <i class="icon ion-android-home"></i> </button></div>
    <div class="row"><button class="button button-block button-large  button-royal item-icon-left" ui-sref="partylog">  <i class="icon ion-android-call"></i> Call Taxi <i class="icon ion-android-car"></i> </button></div>
  </ion-content>
</ion-view>
