<ion-view view-title="Party is over">
  <ion-content class="padding">
    <div class="row"><button class="button button-block button-large button-balanced item-icon-left item-icon-right" ng-click="takeMeHome()">  <i class="icon ion-android-navigate"></i> Take me home  <i class="icon ion-android-home"></i> </button></div>
    <a class="button button-block button-large  button-royal item-icon-left item-icon-right" ng-href="tel:{{phoneno}}"> <i class="icon ion-android-call"></i> Call Taxi <i class="icon ion-android-car"></i> </a>
  </ion-content>
</ion-view>
