<ion-view view-title="PartyLog">
  <ion-content class="padding">
    <ion-list>
      <div ng-repeat="item in historyData | orderBy:'-endDateTime'">
        <ion-item class="item-stable item-icon-right "
                  ng-click="toggleGroup(item)"
                  ng-class="{active: isGroupShown(item)}">
          <i class="icon" ng-class="isGroupShown(item) ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i>

          <p>Name: {{item.name}}</p>

          <p>Date: {{item.start}}</p>
        </ion-item>
        <ion-item class="item-accordion " ng-show="isGroupShown(item)">
          End: {{item.end}}
        </ion-item>
        <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(item)">
          Drinks: <span ng-if="isGroupShown(item)" ng-repeat="drink in item.drinks">{{drink.name}}, {{drink.alcohol*100}}%, {{drink.volume}}ml; </span>
        </ion-item>
        <!--<ion-item ng-if="isGroupShown(item)" ng-repeat="drink in item.drinks">-->
          <!--{{drink.name}}, {{drink.alcohol*100}}%, {{drink.volume}}ml-->
        <!--</ion-item>-->
      </div>
    </ion-list>
  </ion-content>
</ion-view>
